<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Change your address with NHS Pensions
      </h1>

      <p>Use this service to change your address with NHS Pensions and the NHS Pension Scheme.</p>
      <h2>Who can use this service</h2>
      <p>You can use this service if you're a member of the NHS Pension Scheme.</p>
      <p>We'll ask you some questions to prove your identity and help you complete your task.</p>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>We may contact you if we need more information.</p>
      </div>

      <h2>Before you start</h2>
      <p>You'll need your:</p>
      <ul>
        <li>NHS membership number or National Insurance number</li>
        <li>name</li>
        <li>previous address</li>
        <li>new address</li>
        <li>phone number</li>
        <li>email address</li>
      </ul>

      <form method="post" action="/v1/start">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Continue
      </button>
      </form>
      
      


      

      

      

     

    </div>
  </div>
{% endblock %}
