<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /app/views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /app/views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!--
  Use this to set the page name which will appear at the
  start of the <title> tag, followed by the service name.
  This is often not needed on the homepage, where only the
  service name is needed. You can also reuse this variable
  within the <h1>, where they are the same.
-->
{% set pageName = "" %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Add your content here -->
      <!-- Styles and components can be found at https://service-manual.nhs.uk/design-system -->

      <h1 class="nhsuk-heading-xl">
        Change your address in ESR
      </h1>

      <p>If your NHS organisation uses ESR you can change your address there.</p>

      <h2>How to change your address</h2>
      <ul>
        <li>Go to the ESR homepage and select 'My Personal Information.</li>
        <li>From there, select 'Personal Information'.</li>
        <li>Go to the 'Addresses' section and select 'Update'.</li>
        <li>Select 'Enter a new address if you have moved' then 'Next'.</li>
        <li>Follow the remaining steps to complete.</li>
      </ul>

      <a class="nhsuk-action-link" href="https://my.esr.nhs.uk/dashboard/web/esrweb" target="_blank">
        <svg class="nhsuk-icon nhsuk-icon--arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
          <path d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z" />
        </svg>
        <span class="nhsuk-action-link__text">
          Go to ESR (opens in new tab)
        </span>
      </a>

      <h2>Give feedback</h2>
      <p><a href="" target="_blank">Tell us about your experience using this service (opens in new tab)</a>.</p>
      
      


      

      

      

     

    </div>
  </div>
{% endblock %}
